.columnHeader > tr > th {
    background-color: aquamarine!important;
}
   .button {
    opacity: 70%; 
    background-color:#5cb85c;
    width: 20px;
    height: 21px;
    border: none;
    border-radius: 5px;
    position: relative;
    transition: opacity 0.3s; 
}
.approveText {
    position: absolute;
     top: calc( 10px);
    left: calc(-70px); 
    transform: translateY(-50%);
    padding: 4px 8px; 
    opacity: 0;
    font-size: 10px;
    color: grey;
}

.button:hover .approveText {
    opacity: 1; 
}

.table{
    align-items: center!important;
    font-size: 10px!important;
}

.pagination
  {
    align-self: end;
    margin-right: 4vw;
    color: var(--secondary-color);
    margin-top: 12px;
    
  }

 