 .FormButton{
  margin-left: 792px!important;
  margin-top: 15px;
  font-size: 10px!important;
  display: flex; 
  gap: 10px!important;
}

 .Approve {
    background-color: #5cb85c!important;
    width: 55px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 12px!important;
    color:white
  }

 .Reject {
    background-color:#eb3e35!important;
    width: 53px;
    height: 24.5px;
    border: none;
    border-radius: 5px;
    font-size: 12px!important;
    color:white
  }

  .modalContentContainer {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-around;
  }
 
  .transferDateDiv {
    display: flex;
    justify-content: space-around;
  }
  .transferDateDiv .transferDateLabel {
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 0.8rem;
  }

  .transferDateDiv .transferDateInput, .input_drop_control {
    width: 14rem;
    height: 1.6rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    color: gray;
    padding-top: 0px;
  }

  .customTitle {
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
  }
  .approveSuccessButton{
    margin-right: 13px;
  }

.pmSelectDropdown {
  margin-top: 0;
  font-size: 0.8rem;
}

.approveSuccessButton{
  margin-right: 13px;
}
  .Approve:hover .ApproveText {
    display: block;
  }
  
  .Reject:hover .RejectText {
    display: block;
  }
  
  .ApproveText,
  .RejectText {
    display: none;
    position: absolute;
    color:black;
    /* margin-right: 2000px; */
    padding: 5px;
    opacity: 50%;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  }

