.inner_container {
    background-color: white;
    margin-top: 10px;
    height: 490px;
    padding: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inner_container::-webkit-scrollbar {
    display: none;
  }
  
  .pagination
  {
    align-self: end;
    margin-top: 10px;
    color: var(--secondary-color);
  }

  .button:hover {
    display: flex;
    color: white;
    font-size: 11px;
    background-color: #D2042D;
    border: none;
    padding: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
  }

  .button {
    display: flex;
    color: #D2042D;
    font-size: 11px;
    background-color: white;
    border: 1px solid #D2042D;
    padding: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .cancel_popup_buttons{
    margin-left: 290px;
    margin-top: 20px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cancel_button{
    background-color: white;
    width: 70px;
    height: 25px;
    border: 1px solid red;
    color: red;
    border-radius: 3px;
  }

  .close_button
  {
    background-color: white;
    width: 70px;
    height: 25px;
    border: 1px solid green;
    color: green;
    border-radius: 3px;
  }