.first_row {
  position: relative;
  top: 10px;
  display: flex;
  margin-bottom: 18px;
}

.filter_container {
  background-color: #fafafa;
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.eachdiv {
  display: flex;
  margin-right: 0.8rem;
}

.buttondiv {
  display: flex;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
}

.second_row {
  margin-top: 15px;
  display: flex;
  margin-left: 3.1rem;
  margin-bottom: 5px;
}

.labels {
  font-size: 11px;
  margin-left: 2rem;
  padding-right: 6px;
  cursor: default;
  margin-top: 2px;
}

.label_transto {
  font-size: 11px;
  padding-right: 20px;
  margin-left: -1.1rem;
  cursor: default;
  margin-top: 2px;
}

.label_datefrom {
  font-size: 11px;
  padding-right: 8px;
  margin-left: 0;
  cursor: default;
  margin-top: 2px;
}

.label_name {
  font-size: 11px;
  padding-right: 21px;
  margin-left: -0.1rem;
  cursor: default;
  margin-top: 2px;
}

.label_to {
  font-size: 11px;
  margin-left: 0.1rem;
  padding-right: 23px;
  margin-right: 0rem;
  cursor: default;
  margin-top: 2px;
}

.label_number {
  font-size: 11px;
  padding-right: 10px;
  margin-left: -0.1rem;
  cursor: default;
  margin-top: 2px;
}

.label_status {
  font-size: 11px;
  padding-right: 10px;
  margin-left: -0.3rem;
  cursor: default;
  margin-top: 2px;
}

.input_drop_control {
  height: 28px !important;
  width: 120px !important;
  border: 1px solid #7d7d7d !important;
  border-radius: 3px !important;
  display: flex;
  align-items: center;
  font-size: 11px !important;
  margin-right: 15px;
}

.dropdown {
  padding-right: 3px;
}

.drop_menu {
  width: 87%;
}
.drop_menu1 {
  width: 89%;
}

.input_box {
  height: 28px;
  width: 130px;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  font-size: 12px;
  align-items: center;
  padding-left: 10px;
  margin-right: 38px;
  font-size: 11px;
  color: #7d7d7d;
}

.input_box_name {
  font-size: 12px;
  height: 28px;
  width: 130px;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  align-items: center;
  padding-left: 10px;
  margin-right: 20.5px;
  font-size: 11px;
  color: #7d7d7d;
}

.input_box_name:focus {
  border: 1px solid blue;
  outline: 1px solid blue;
}

.date_box {
  height: 28px;
  width: 130px;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  align-items: center;
  padding-left: 10px;
  margin-right: 20px;
  font-size: 11px;
  color: #7d7d7d;
}

.date_box:focus {
  border: 1px solid blue;
  outline: 1px solid blue;
}

.input_box:focus {
  border: 1px solid blue;
  outline: 1px solid blue;
}

.button {
  padding-right: 10px;
  margin-right: 1px !important;
  margin-left: 2px;
  width: 30px;
  height: 27px;
}

.button1 {
  padding-right: 5px;
  margin-right: 5px !important;
  margin-left: 5px;
  width: 30px;
  height: 27px;
}

.pagination {
  align-self: end;
  margin-right: 0.6rem;
  color: var(--secondary-color);
}

.history_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 360px;
}

.downloadicon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 0.1rem;
  margin-left: 1rem;
}

.iconpart {
  color: #1976d2;
  font-size: 32px;
}

.filter_inner {
  margin-left: 4rem;
}
