.first_row {
  position: relative;
  top: 10px;
  display: flex;
  margin-bottom: 18px;
}

.filter_container {
  background-color: #fafafa;
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.eachdiv {
  display: flex;
}
.buttondiv {
  display: flex;
  margin-left: 0.8rem;
}

.second_row {
  margin-top: 15px;
  display: flex;
  margin-left: 3.1rem;
  margin-bottom: 5px;
}

.labels {
  font-size: 12.5px;
  margin-left: 2rem;
  padding-right: 6px;
  cursor: default;
  margin-top: 2px;
}

.label_transto {
  font-size: 12.5px;
  padding-right: 24px;
  margin-left: -1.1rem;
  cursor: default;
  margin-top: 2px;
}

.label_datefrom {
  font-size: 12.5px;
  padding-right: 8px;
  margin-left: 0;
  cursor: default;
  margin-top: 2px;
}

.label_name {
  font-size: 12.5px;
  padding-right: 1px;
  margin-left: 0;
  cursor: default;
  margin-top: 2px;
}

.label_to {
  font-size: 12.5px;
  margin-left: 0.8rem;
  padding-right: 10px;
  margin-right: 2rem;
  cursor: default;
  margin-top: 2px;
}

.label_number {
  font-size: 12.5px;
  padding-right: 6px;
  margin-left: -0.2rem;
  cursor: default;
  margin-top: 2px;
}

.label_status {
  font-size: 12.5px;
  padding-right: 10px;
  margin-left: 0.8rem;
  cursor: default;
  margin-top: 2px;
}

.input_drop_control {
  height: 28px;
  width: 120px;
  border: 1px solid #7d7d7d !important;
  border-radius: 3px !important;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-right: 15px;
}

.dropdown {
  padding-right: 3px;
}

.input_box {
  height: 28px;
  width: 130px;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  align-items: center;
  padding-left: 10px;
  margin-right: 38px;
  color: #7d7d7d;
}

.input_box_name {
  height: 28px;
  width: 130px;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  align-items: center;
  padding-left: 10px;
  margin-right: 20.5px;
  color: #7d7d7d;
}

.input_box_name:focus {
  border: 1px solid blue;
  outline: 1px solid blue;
}

.date_box {
  height: 28px;
  width: 130px;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  align-items: center;
  padding-left: 10px;
  margin-right: 5px;
  color: #7d7d7d;
}

.input_box:focus {
  border: 1px solid blue;
  outline: 1px solid blue;
}

.button {
  padding-right: 5px;
  margin-right: 5px;
  background-color: blue;
}

.pagination {
  align-self: end;
  color: var(--secondary-color);
}

.history_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 360px;
}
