.Form_Outer_Card{

    margin-top: 20px;
    align-self: center;
    width: 700px;
    height: 330px;
    margin-left: 70px;
    border-width: 50px;
    border-color: black;
}

.Form_left_side{
    text-align: left;
    background-color: #E5ECF8;
    width: 250px;
    flex: 1;
    height: 300px;
}

.Form_right_side{
    text-align: left;
    background-color: #F6F9FF;
    width: 300px;
    flex: 2;
    
}


.Form_Inner_container{
    display: flex;
    
}

