.inner_container {
  background-color: white;
  margin-top: 10px;
  height: 490px;
}

.du_transfer_details
{
  display: flex;
}

.statistical_data {
  display: flex;
  height: 17rem;
}

.du_stats {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    width: 63%;
    margin-bottom: 5px;
}

.bar_graph_label
{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    padding-left: 160px;
    margin-bottom: -30px;
    margin-top: 30px;
}

.bar_graph_heading_container{
    display: flex;
}

.bar_chart{
    margin-left: 30px;
    width: 500px;
}

.square_div{
  display: inline-block;
    height: 8px;
    width: 8px;
    background-color: var(--primary-color);
    margin-right: 5px;
    margin-left: 382px;

}

.range{
  font-size: 10px;
  font-weight: 400;
}