.inner_container {
  background-color: white;
  margin-top: 10px;
  height: 490px;
}

.du_transfer_details
{
  display: flex;
}

.statistical_data {
  display: flex;
  height: 17rem;
}

.du_stats {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    width: 63%;
    margin-bottom: 5px;
}