.bar_graph_heading
{
    font-size: 13px;
    font-weight: 500;
    padding-left: 7vh;
    margin-bottom: -6vh;
    margin-top: 4vh;
}

.bar_graph_label
{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    padding-left: 40vh;
    margin-bottom: -6vh;
    margin-top: 6vh;
}

.bar_graph_heading_container{
    display: flex;
}

.bar_chart{
    margin-left: 6vh;
    width: 80vh;
}

.square_div{
    height: 8px;
    width: 8px;
    background-color: var(--primary-color);
    margin-right: 0.8vh;
}