.inner_container {
    background-color: white;
    margin-top: 10px;
    height: 81vh;
    padding: 20px;
  }

  .form_heading
{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
}
